
		<div class="container demo-1">
			<!-- Top Navigation -->
			<header>
				<h1>Workout Plan Generator</h1>
			</header>
			<div class="main clearfix">
				<form id="nl-form" class="nl-form" action="" method="get">
					I am a
					<select>
						<option value="1" selected>beginner</option>
						<option value="2">normal</option>
						<option value="3">intermediate</option>
						<option value="4">expert</option>
						<option value="2">fucked up</option>
					</select>
					<br />and I want a workout plan that is
					<select>
						<option value="1" selected>easy</option>
						<option value="2">medium</option>
						<option value="3">hard</option>
						<option value="4">extreme</option>
					</select>
					and
					<br />is
					<select>
						<option value="1" selected>1</option>
					 	<option value="2">2</option>
					 	<option value="3">3</option>
					 	<option value="4">4</option>
					 	<option value="5">5</option>
					 	<option value="6">6</option>
					 	<option value="7">7</option>
					</select>
					time(s) a week
					during <select>
						<option value="1" selected>1</option>
					 	<option value="2">2</option>
					 	<option value="4">4</option>
					 	<option value="6">6</option>
					 	<option value="8">8</option>
					 	<option value="12">12</option>
					</select>
          month(s)
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Find a workout!</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div><!-- /container -->
