
		<div class="container demo-1">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/MorphingDevices/"><span>Previous Demo</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=15139"><span>Back to the Codrops Article</span></a></span>
			</div>
			<header>
				<h1>Natural Language Form <span>with custom input elements</span></h1>
			</header>
			<div class="main clearfix">
				<form id="nl-form" class="nl-form">
					I want a workout plan that is
					<select>
						<option value="1" selected>beginner</option>
						<option value="2">normal</option>
						<option value="3">intermediate</option>
						<option value="4">expert</option>
						<option value="2">fucked up</option>
					</select>
					<br />in a
					<select>
						<option value="1" selected>standard</option>
						<option value="2">fancy</option>
						<option value="3">hip</option>
						<option value="4">traditional</option>
						<option value="2">romantic</option>
					</select>
					restaurant
					<br />at
					<select>
						<option value="1" selected>anytime</option>
					 	<option value="1">7 p.m.</option>
					 	<option value="2">8 p.m.</option>
					 	<option value="3">9 p.m.</option>
					</select>
					in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Find a restaurant</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div><!-- /container -->
