<!-- Detta är första sidan css:en är redan länkad-->
<section class="header">
  <div class="nav">
    <div class="nav-left">
      <a href="#" class="nav-title">Dev Cafés</a>
      <a class="nav-location" href="#">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Stockholm
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-add">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add
      </a>
    </div>
  </div>

  </section>

<section class="main">

    <div class="cards">
      <ul class="cards-list">
        {{#each venues}}
        <li class="cards-list-item">
          <a href="#" class="cards-link">
            <div class="cards-header-info">


              <div class="cards-header">
                <p class="cards-header-p">
                  {{name}}, {{adress}}
                </p>
              </div>
              <div class="cards-info">
                <p>
                  {{description}}
                </p>
              </div>
              </div>
          </a>
        </li>
        {{/each}}
      </ul>
  </div>
</section>
