<!-- Detta är första sidan css:en är redan länkad-->
<section class="all">
  <div class="nav">
    <a href="#" class="nav-title">Dev Cafés</a>
    <p class="nav-location">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      Stockholm
    </p>
    <p class="nav-add" >
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add
    </p>

  </div>
  <div class="main">
    <ul class="main-links">
      <li></li>
    </ul>
  </div>
</section>
