/*-----------------------------------------------
*
*   Dev Cafés Stylesheet
*
*
*   Gray (dark)   : #212121
*
-----------------------------------------------*/

/*-----------------------------------------------
*  All
-----------------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F0F6;
}

/* * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 */
ul, ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



/*-----------------------------------------------
*  Nav
-----------------------------------------------*/

.header {

  width: 100%
}

.nav  {
  background-color: #A3D2EE;

}

.nav-title {
  display: inline-block;
  color: #2A2B2E;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin:  0;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom:0;
  text-decoration: none;
}

.nav-add {
  display: inline;
  text-align: right;
  font-size: 1.5em;
  padding-right: 40px;

}

.nav-left {
  position: relative;
  left: 0;
  display: inline-block;
}

.nav-right {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  top: 30px;
}

.nav-location {
  display: block;
  color: #2A2B2E;
  text-align: left;
  font-weight: 900;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  padding-left: 40px;
  padding-top: 0;

  margin: 0 0 15px 0;
  text-decoration: underline;

}

.nav-location:hover {
  cursor: pointer;
}

/*-----------------------------------------------
*  Main
-----------------------------------------------*/

.main {
  font-family: 'Lato', sans-serif;

  width: 100%;
  background-color: #F5F0F6;
}



.cards-list {
  list-style-type: none;
}

.cards-link {

  color: #2A2B2E;
  text-decoration: none;
}

.cards-header-info {

  text-align: center;
}

.cards-list-item {
  margin: 20px auto;
  background-color: #fff;
  width: 90%;
  box-shadow: 0 2px 7px #d3d3d3;
  border-radius: 4px;
  position: relative;
}

.cards-header {
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 3px 3px 0 0;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* padding: 0 12px; */
  background: #d3d3d3;


}

.cards-header-bg {
  background: #d3d3d;
  width: 100%;
  height: 200px;
}

.blur {

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  height: 100%;
  width: 100%;
}

.blur:hover {
  -webkit-filter: blur(3px);
}


/* .cards-header:hover {
  -webkit-filter: blur(5px);
} */

.cards-header-p {
  /* padding: 50px 5px; */
  color: white;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  display: inline-block;
  word-wrap: break-word;
  text-shadow: 0.5px 0.5px 1px #333;
  width: 100%;
}

.cards-info {
  padding: 24px 12px;
}

.cards-info i {
  font-size: 1.5em;
}

.cards-info i[data-option="off"] {
  color: #C6C6C6;
}

.cards-info i[data-option="on"] {
  color: #222222;
}

.cards-info svg[data-option="off"] {
  fill: #C6C6C6;
}

.cards-info svg[data-option="on"] {
  fill: #222222;
}

.toilet-icon {
  /* font-size: 12px; */
  height: 1.5em;
  width: 1.5em;
}

.availability-icon {
  padding: 0 12px;
}
